/* .profile-page {
  text-align: center;
  background-image: url("938442452.png");
  background-size: 30%;
  background-position-y: 200pxs;
  background-repeat: repeat-y;
  background-position: center;
} */
.statstable {
  width: 100%;
}
